html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    width: 80%;
    margin: 0 auto;
    flex: 1 0 auto;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cecece;
    margin-bottom: 20px;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.link {
    margin: 0 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.form-element {
    margin-top: 20px;
}

.button {
    margin-top: 20px;
}

.pagination {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    padding: 20px;
    border-top: 1px solid #cecece;
    width: 80%;
    margin: 0 auto;
    min-height: 150px;
    flex-shrink: 0;
}