html, body {
    margin: 0;
}

.header, .footer {
    background-color: #cecece;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.link {
    margin: 0 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.content {
    width: 80%;
    margin: 0 auto;
}

.form-element {
    margin-top: 20px;
}

.button {
    margin-top: 20px;
}

.footer {
    padding: 0 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}