.header, .footer {
    background-color: #cecece;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.link {
    margin: 0 15px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}